@reference "./tailwind.css";

/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code title styles */
.remark-code-title {
  @apply rounded-xs bg-gray-700 px-5 py-3 font-mono text-sm font-bold text-gray-200 dark:bg-gray-800;
}

.remark-code-title+div>pre {
  @apply mt-0 rounded-t-none;
}

/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply -mx-4 block border-l-4 border-transparent pr-4 pl-4;
}

.code-line.inserted {
  @apply bg-green-500/20;
}

.code-line.deleted {
  @apply bg-red-500/20;
}

.highlight-line {
  @apply border-primary-500 -mx-4 border-l-4 bg-gray-700/50;
}

.line-number::before {
  @apply mr-4 -ml-2 inline-block w-4 text-right text-gray-400;
  content: attr(line);
}

/* Token styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #797379;
}

.token.punctuation {
  color: #b9b5b8;
}

.namespace {
  opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #fd8b19;
}

.token.property {
  color: #fdcc59;
}

.token.tag {
  color: #1290bf;
}

.token.string {
  color: #149b93;
}

.token.selector {
  color: #c85e7c;
}

.token.attr-name {
  color: #fd8b19;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #149b93;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #8fc13e;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #149b93;
}

.token.placeholder,
.token.variable {
  color: #1290bf;
}

.token.important {
  color: #dd464c;
  font-weight: bold;
}

.token.entity {
  cursor: help;
}